img{
	display: block;
	margin-left: auto;
	margin-right: auto;	
}
#search_bar{
	margin: auto;
	margin-top: 20px;
	width: 1000px; height: 50px;
	color: white; 
	border: 1px solid grey;
}
th{
	border: 1px solid grey;
	padding: 20px; margin: auto;
}
table{
	margin: auto;
}
div th{
	border:none;
}
#header{
	margin-right: 20px;
	margin-top: none;
	padding-top: none;
}
#footer{
	position: absolute;
	bottom: 0px;
}
#foot2{
	position: absolute;
	bottom: 0px;
	right: 0px;
}